*{
  border: 1px solid red;
}

h1,h2 {
  text-align: center;
}

#boards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  margin: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border: 1px solid #333;
  cursor: pointer;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: gray;
}

.ship {
  background-color: lightgreen;
}